/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 25/04/2024, 1:12:12 p. m.
    Author     : eduardo
*/

*{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}
body{
  margin: 0;
  
}
.header {
  display: flex;
  justify-content: space-between; /* Asegura que los elementos se distribuyan en los extremos del contenedor */
  align-items: center;
  padding: 10px 30px; /* Reduce el padding si es necesario */
  background-color: transparent;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.header__menu-icon {
  border: none;
  background: none;
  font-size: 24px;
  cursor: pointer;
  color: white;
}

.header__logo img {
  width: 180px; /* Ajusta el tamaño del logo si es necesario */
  height: auto;
}

.header__items {
  display: flex; /* Utiliza flexbox para alinear los ítems */
  align-items: center; /* Alinea los ítems verticalmente */
}

.header__items a {
  color: white;
  font-size: 20px; /* Ajusta el tamaño de la fuente si es necesario */
  padding: 0 10px; /* Ajusta el padding entre íconos */
  text-decoration: none;
}

.fa-search, .fa-heart, .fa-user, .fa-shopping-cart {
  width: 20px;
  height: 20px;
  
}
.fa-shopping-cart {
  margin-right: 50px;
}
.header__menu {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 2; 
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 80px;
  
}

.header__menu a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  
}

.header__menu a:hover {
  color: #f1f1f1;
}
.header__menu-icon--close {
  font-size: 36px;
  color: #fff;
  position: absolute;
  top: 0;
  right: 25px;
  cursor: pointer;
  margin-top: 25px;
}
.header__menu-search {
  width: 100vw; /* Ancho del menú */
  height: 50vh; /* Altura del menú */
  position: fixed;
  top: -100vh; /* Inicia fuera de la pantalla */
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  transition: top 0.5s; /* Animar el cambio de la propiedad top */
  padding-top: 80px;
}

.header__menu-search.open {
  top: 0; /* Mover el menú hacia abajo cuando esté abierto */
}



.header__menu-search-icon--close {
  font-size: 36px;
  color: #000000;
  position: absolute;
  top: 0;
  right: 25px;
  cursor: pointer;
  margin: 25px 25px 0 0;
}
.search-form {
  position: relative;
  width: 60vw;
  background: #e7e7e7;
  border-radius: 55px;
  right: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.search-form__input, .search-form__button {
  height: 4vh;
  border: 0;
  color: #727272;
  font-style: italic;
}
.search-form__button{
  color: white;
}
.search-form__input[type="search"] {
  outline: 0;
  width: 100%;
  background: #c9c9c9;
  padding: 0 1.6rem;
  border-radius: .7rem;
  appearance: none;
  transition: all .3s cubic-bezier(0, 0, 0.43, 1.49);
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
}

.search-form__button {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 6rem;
  font-weight: bold;
  background: #000000;
  border-radius: 0 .7rem .7rem 0;
}

.search-form__input:not(:placeholder-shown) {
  border-radius: .7rem 0 0 .7rem;
  width: calc(100% - 6rem);
}

.search-form__input:not(:placeholder-shown) + .search-form__button {
  display: block;
}

.search-form__label {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
/* Cuando el menú está abierto */
.header__menu--open {
  width: 2500px;
}

.header {
  transition: background-color 0.5s ease; /* Suaviza la transición del color de fondo */
}

.header__menu-icon, .header__items a {
  transition: color 0.5s ease; /* Suaviza la transición del color del texto */
}


#logoImage {
  transition: opacity 0.5s ease; /* Suaviza la transición de opacidad para el cambio de imagen */
}


.video-container {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1; /* Menor z-index para que quede detrás */
  object-fit: cover;
  overflow: hidden;
}


